@page
@model DetailModel
@{
    ViewData["Title"] = "Detail";
}

<div id="detail" class="row">
    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
    <form method="post" class="col">
        <h1>@Model.Movie.Title 
            <i
            class=" fas fa-star @(Model.Movie.Saved ? "saved" : "")" 
            title="@(Model.Movie.Saved ? "Unsave" : "Save")"
            onclick="saveMovie('@Model.Movie.imdbId', this, event)"
            ></i>
        </h1>
        <strong>Released:</strong> <span>@Model.Movie.Released</span><br/>
        <strong>Runtime:</strong> <span>@Model.Movie.Runtime</span><br/>
        <strong>Director:</strong> <span>@Model.Movie.Director</span><br/>
        <strong>Starring:</strong> <span>@Model.Movie.Actors</span><br/><br/>
        <p>@Model.Movie.Plot</p>
    </form>
    <div class="col">
        <img src="@Model.Movie.Poster"/>
    </div>
</div>
