@page
@using DotMovies.Models
@using DotMovies.Components
@model SavedModel
@{
    ViewData["Title"] = "Saved";
}

<div id="results" class="col">
    <div class="row d-flex justify-content-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="row d-flex justify-content-center">
        @if(Model.Movies == null || Model.Movies.Count == 0)
        {
            <p>You have no saved movies.</p><br/>
            <p>To save a movie, search a title, select a movie, and click the star next to the title.</p>
        } else {
            @foreach(Movie movie in Model.Movies)
            {
                <component type="typeof(MovieCard)" 
                render-mode="ServerPrerendered"
                param-Id="@movie.imdbId"
                param-Title="@movie.Title"
                param-Year="@movie.Year"
                param-Poster="@movie.Poster"
                param-Saved="@movie.Saved"
                />
            }
        }
    </div>
</div>